.dashboard {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    gap: 1rem;
    padding: 3rem 1rem;
}

.listing {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    box-shadow: 10px 5px 5px #ede9e9;
    background-color: white;
}

.visualizations {
    grid-column: span 3;
    display: grid;
    row-gap: 2rem;
}

.tableContainer {
    background-color: white;
    padding: 1rem;
}
